body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}
body,
html {
  overflow-x: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.App {
  text-align: center;
}
